<fieldset>
	<legend>Add Contact</legend>
	<form id="addContactForm" method="post">
		<!--First Name: <input type="text" id="firstname" name="firstname" class="required" value="${firstname}"/><br/>
		Last Name: <input type="text" id="lastname"  name="lastname" class="required" value="${lastname}"/><br/>
		-->
		First Name: <input type="text" id="firstname" name="firstname" class="required" /><br/>
		Last Name: <input type="text" id="lastname"  name="lastname" class="required" /><br/>
		<input type="submit" value="Add"/>
	</form>
</fieldset>