!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type="text/javascript", data-main="javascripts/main", src="javascripts/libs/require/require.js")    
  body
    h1 RequireJS Backbone Contacts App - In Coffeescript...
    !=body
    